body {

    margin: 0;
    padding: 0;
    font-family:  sans-serif;
color: white;
    
}



/*Sign IN header*/
.SIGN-UP_form{
    width: 300px;
    box-shadow: 0 0 300px -30px rgb(0, 0, 0);
    background: white;
    padding: 20px;
    margin: 8%auto;
    text-align: center;
    color: black;
}

.SIGN-UP_form h1{

    color: #c83349;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-spacing: 10px;
    margin-bottom: 30px;
    margin: 20px;
    align-items: center;
}

/*Text Field*/
.InputEmail{

    border-radius: 20px;
    width: 100%;
    margin: 10px 0;

    padding: 10px;
    border: 1px solid #f74;
    outline: none;
}

.InputPassword{
    border-radius: 20px;
    width: 100%;
    margin: 10px 0;

    padding: 10px;
    border: 1px solid #f74;
    outline: none;
}

/*Buttons*/
button{ /*text inside button*/

    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    align-items: center;
}

button:hover{
    background-color: #82b74b;
}

.Sign-btn{
    background-color: #c83349;
}


/*mid section*/
hr{
    border-radius: 80%;
    border-color: chartreuse;
}

.or{
    background: white;
    width: 30px;
    margin: -19px auto 10px;
}



img{

    width: 100px;
}



/*Background video code*/
.back_video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back_video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back_video {
        width: auto;
        height: 100%;
    }
}